main{
    background-color: blanchedalmond;
    margin-top: 0%;
}
body{
    margin-top: 0px; 
    margin-bottom: 0px; 
    margin-left: 0px; 
    margin-right: 0px;
}

header{
    padding-top: 2%;
    text-align: center;
    position: sticky;
    width: 100%;
    top: 0;
    background-color: whitesmoke;
    margin-bottom: 0px;
}

nav{
    margin-top: 1cm;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

header nav ul li{
    display: inline;
    margin-inline: 2%;
    font-weight: bold;
    font-size: larger;
}

nav a{
    text-decoration: none;
    color: black;
}

nav a:hover{
    color: #7ABA96;
}

div p{
    text-align: justify;
}
