main{
	padding-left: 25%;
	padding-right: 25%;
	display: block;
	margin-top: 0px;
}

main article{
	padding-top: 1%;
	padding-bottom: 2%;
	background-color: #7ABA96;
	padding-left: 10%;
	padding-right: 10%;
}

article p.underline{
	border-bottom: 2px solid black;
	padding-bottom: 2%;
}

main img{
	width: 200px;
}

article a {
    text-decoration: none;
    color: black;
	font-size: 30px;
	font-weight: bold;
}

.paginacion {
	margin:20px 0;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:#024959;
	text-decoration: none;
}

.paginacion ul li a:hover {
	background:#037E8C;
}

.paginacion ul li .active {
	background:#037E8C;
	font-weight:bold;
}